<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>국민체력 영상공모전</title>

    <!-- bootstrap -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script src="../assets/bootstrap/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../assets/bootstrap/bootstrap.min.css" />

    <link rel="stylesheet" href="../styles/styles.css" />
  </head>

  <body>
    <nav class="gnb">
      <div class="nav container gutter">
        <div class="grid">
          <img
            class="logo"
            src="../assets/images/spon_logo1.png"
            alt="문화체육관광부"
          />
          <img class="logo" src="../assets/images/spon_logo2.png" alt="Kspo" />
        </div>

        <div class="grid">
          <a class="btn" href="#">공모개요</a>
          <a
            class="btn dropdown-toggle"
            data-toggle="dropdown"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
            >커뮤니티</a
          >
          <div class="dropdown-menu">
            <a class="dropdown-item" href="./noticeList.html">
              <span>공지사항</span></a
            >
            <a class="dropdown-item" href="#">
              <span>FAQ</span>
            </a>
            <a class="dropdown-item" href="./qnaList.html">
              <span>Q&A</span>
            </a>
          </div>
        </div>
      </div>
    </nav>

    <section class="main">
      <div class="container">
        <img
          src="../assets/images/main@2x.png"
          alt="국민체력 100 집콕 운동 영상공모전"
        />
      </div>
    </section>

    <section class="container gutter">
      <span class="title">
        공모전명
      </span>
      <h6>
        국민체력100 집콕 운동 영상 공모전
      </h6>
    </section>

    <section class="container gutter">
      <span class="title">
        공모분야
      </span>
      <h6>
        직접 제작한 영상 작품
      </h6>
    </section>

    <section class="container gutter">
      <span class="title">
        공모주제
      </span>
      <div class="highlight">
        <h6>
          실내에서 누구나 쉽고 재미있게 따라할 수 있는,
        </h6>
        <span style="max-width: 275px;"></span>
      </div>

      <div class="highlight">
        <h6>
          자신만의 운동법을 알려주는 '실내 운동 영상 콘텐츠' 제작
        </h6>
        <span style="max-width: 335px;"></span>
      </div>

      <h6 class="disc" style="margin-top: 14px;">
        <span>▶</span>집에서 층간 소음 없이 운동하기<br />
      </h6>
      <h6 class="disc"><span>▶</span>아이들과 같이 운동하기 <br /></h6>
      <h6 class="disc"><span>▶</span>일상 물건을 활용한 운동하기<br /></h6>
      <h6 class="disc"><span>▶</span>기타 참신한 운동 방법 소개</h6>
    </section>

    <section class="container gutter">
      <span class="title">
        참가대상
      </span>
      <h6>
        공모전에 관심 있는 국민 누구나(개인/팀 무관)
      </h6>
    </section>

    <section class="container gutter">
      <span class="title">
        공모일정
      </span>

      <h6>
        접수 : 2020년 <b>4</b>월 <b>20</b>일(월) ~ <b>5</b>월 <b>17</b>일(일)
        <br />
        발표 : 2020년 5월 25일(월) <br />
        시상 : 2020년 5월 29일(금) <br />
        네티즌 투표 : 2020년 5월 20일(수) ~ 5월 24일(일)
      </h6>

      <p class="warning">
        ※ 1차 심사 통과 작품은 5월 20일(수) 국민체력100 유튜브에 업로드하여
        <br />
        ‘좋아요’ 투표를 진행합니다. (최다 획득 3개 작품 인기상, 중복 수상 불가)
      </p>
    </section>

    <section class="container gutter">
      <span class="title">
        출품규격
      </span>

      <h6 class="disc" style="margin-top: 14px;">
        <span>▶</span>직접 촬영한 영상물 제출 <br />
      </h6>
      <h6 class="disc">
        <span>▶</span>영상분량 : 30초~5분 이내 자유 분량 <br />
      </h6>
      <h6 class="disc"><span>▶</span>파일형태 : avi, wmv, mp4, mov <br /></h6>
      <h6 class="disc"><span>▶</span>해상도 : 1280x720(HD) 이상 <br /></h6>
      <h6 class="disc"><span>▶</span>용량 : 1GB 이하</h6>

      <p class="warning">
        ※ 인코딩 파일의 화질이 규격보다 떨어질 경우, <br />
        추후 원본파일을 제출할 수 있어야 함
      </p>
    </section>

    <section class="container gutter">
      <span class="title">
        접수방법
      </span>
      <h6>
        연락처와 이름 기재하여 이메일 접수<br />
        (nfs.contest@gmail.com)<br />
        <br />
        개인 SNS에 업로드한 경우, 링크 제출(가점)<br />
        ※ 태그 아래와 같이 지정 및 콘텐츠 공개설정<br />
        <br />
        #국민체력100콘텐츠공모전 #홈트영상 #집콕운동<br />
        #국민체력100 #KSPO #국민체육진흥공단
      </h6>
    </section>

    <section class="container gutter">
      <span class="title">
        심사기준
      </span>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">채점항목</th>
            <th scope="col">세부내용</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>대중성(20점)</td>
            <td>일반인들도 쉽게 따라할 수 있는 운동인가</td>
          </tr>
          <tr>
            <td>적합성(20점)</td>
            <td>운동 목적에 맞는 운동 프로그램으로 구성되어 있는가</td>
          </tr>
          <tr>
            <td>창의성(20점)</td>
            <td>독창적이고 창의적인 운동 콘텐츠인가</td>
          </tr>
          <tr>
            <td>기술성(20점)</td>
            <td>기술 및 디자인적으로 완성도가 있는 콘텐츠인가</td>
          </tr>
          <tr>
            <td>흥미성(20점)</td>
            <td>대중의 관심을 유도할 수 있는 요소를 지니고 있는가</td>
          </tr>
        </tbody>
      </table>
    </section>

    <section class="container gutter">
      <span class="title">
        시상내역
      </span>
      <table class="table">
        <tbody>
          <tr>
            <td>최우수상</td>
            <td>1팀</td>
            <td>문화체육관광부 장관상 및 상금 200만원</td>
          </tr>
          <tr>
            <td>우수상</td>
            <td>2팀</td>
            <td>국민체육진흥공단 이사장상 및 상금 100만원</td>
          </tr>
          <tr>
            <td>인기상</td>
            <td>3팀</td>
            <td>상금 30만원 (최우수상, 우수상과 중복수상 불가)</td>
          </tr>
        </tbody>
      </table>

      <p class="warning">
        ※ 인기상은 1차 통과작 중 유튜브 좋아요 최다 3작품으로 선정됩니다<br />
        ※ 적합한 응모작이 없을 경우 시상내역은 변동될 수 있습니다.<br />
        ※ 상금 수상에 따른 제세공과금은 수상자 본인 부담합니다.
      </p>
    </section>

    <section class="container gutter">
      <span class="title">
        문의처
      </span>

      <h6>
        공모전 운영사무국 <br />
        메일 nfs.contest@gmail.com / 전화 070-4125-5124
      </h6>

      <div class="highlight" style="margin-top: 8px;">
        <h6>
          ‘국민체력100’ 유튜브 채널에서 5/20(수)~5/24(일)
        </h6>
        <span style="max-width: 306px;"></span>
      </div>
      <div class="highlight">
        <h6>
          진행되는 인기투표에 많은 참여 부탁드립니다
        </h6>
        <span style="max-width: 265px;"></span>
      </div>
    </section>

    <section class="container gutter caution">
      <span class="title">
        유의사항
      </span>

      <h6 style="margin: 14px 0px;">
        (아래 내용을 반드시 확인 후 참여바랍니다)
      </h6>

      <h6 class="disc">
        <span>▶</span>수상 작품 수는 응모현황 및 심사 결과에 따라 조정될 수
        있습니다 <br />
      </h6>
      <h6 class="disc">
        <span>▶</span>각 팀별로 수상은 하나만 인정됩니다(중복 수상 불가)
        <br />
      </h6>
      <h6 class="disc">
        <span>▶</span>‘창작물 공모전 가이드라인’에 따라 출품작의 저작권은
        출품자에게 있으며 (저작권법10조), 상금을 수령한 입상작에 대한 저작재산권
        (2차적저작물작성권 포함)은 국민체육진흥공단에 귀속됩니다
        <br />
      </h6>
      <h6 class="disc">
        <span>▶</span>수상작은 복제나 편집 가공을 통해 공단의 공익 목적 홍보에
        활용될 수 있습니다
        <br />
      </h6>
      <h6 class="disc">
        <span>▶</span>이메일로 작품을 접수하는 경우 접수자의 성명, 연락처 등에
        대한 개인정보제공에 동의한 것으로 간주합니다<br />
      </h6>
      <h6 class="disc">
        <span>▶</span>응모작이 제3자의 초상권, 저작권, 지적재산권 일체, 소유권
        등이 침해되지 않도록 주의의 의무를 다하여야 하며, 분쟁 발생 시 모든
        책임은 응모자에게 있습니다 동의한 것으로 간주합니다<br />
      </h6>
      <h6 class="disc">
        <span>▶</span>각 부문별 주제에서 벗어난 작품 및 타 공모전 수상작은 심사
        제외합니다.<br />
      </h6>
      <h6 class="disc">
        <span>▶</span>수상자 발표 후 표절로 확인될 경우 수상 취소 및 상금이 회수
        될 수 있습니다<br />
      </h6>
      <h6 class="disc">
        <span>▶</span>상금 수상에 따른 제세공과금은 수상자 본인 부담합니다
        <br />
      </h6>
      <h6 class="disc">
        <span>▶</span>수상 발표 이후 7일까지 연락이 되지 않는 분들은 자동으로
        수상이 취소됩니다
      </h6>
    </section>
  </body>
</html>
